
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$dark1: #03045e;
$dark2: #023e8a;
$dark3: #0077b6;
$mid1: #0096c7;
$mid2: #00b4d8;
$mid3: #48cae4;
$light1: #90e0ef;
$light2: #ade8f4;
$light3: #caf0f8;

$sliderbg: #A1E5F2;