---
---

@import 'variables';

body {
    background: adjust-color($color: $dark1, $lightness: -10%);
}

.post {
    background: $light3;
    padding: 5em;
    margin-top: 1em;

    img {
        margin: auto;
        height: 25em;
    }

    p {
        margin: 1em auto !important;
    }
}

h2.author {
    font-family: 'Roboto Slab';
    font-size: 14px;
    margin-bottom: 2em;
}

h1.title {
    font-family: 'Josefin Slab';
    font-size: 40px;
}

h3 {
    font-size: 25px !important;
    font-family: 'Montserrat';
    font-weight: 800 !important;
}

.tooltip {
    text-decoration: underline;
    text-decoration-style: dotted;
}